/*body*/
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
img {
  height: 200px;
  width: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/*Header Section*/
.header {
  background-color: #1f2937;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.links {
  display: flex;
  gap: 30px;
}

/*hero-header*/

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 220px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}
.hero-secondary-text {
  font-size: 18px;
  color: #f9faf8;
}
.hero-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 10px 24px;
}
.hero-header img {
  height: 340px;
  width: auto;
}

/*main-content*/

.main-content,
.info-section {
  display: flex;
  flex-direction: column;
}
.images {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
}
/*main-content/info-section*/
.info-main-text {
  margin-top: 50px;
  color: #1f2937;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
.image {
  display: flex;
  flex-direction: column;
}
.image div {
  color: gray;
  text-align: center;
  margin-top: 20px;
}

.image img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-self: center;
  border: 4px solid #3882f6;
}
/*main-content/quote-section*/
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
}
.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.quote-by {
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 50px;
}
/*main-content/call-action-section*/

.call-action-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #3882f6;
  border-radius: 10px;

  padding: 40px 150px;
  margin: 50px 100px;
}

.call-action-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.call-action-secondary-text,
.call-action-main-text {
  margin-top: 10px;
  color: #fff;
}
.call-action-main-text {
  font-size: 18px;
  font-weight: bold;
}

.call-action-button{
  color: #fff;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 5px;
  padding: 7px 20px;
}
